[submodule "ext/sdks"]
	path = ext/sdks
	url = https://github.com/martinpaljak/oracle_javacard_sdks
[submodule "ext/libs"]
	path = ext/libs
	url = https://github.com/J08nY/javacard-libs
[submodule "ext/mscng"]
	path = ext/mscng
	url = https://github.com/J08nY/mscng-dev-kit
[submodule "ext/boringssl"]
	path = ext/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "ext/libressl"]
	path = ext/libressl
	url = https://github.com/libressl-portable/portable
