# Built binaries in /src.
/standalone/src/**/*.a
/standalone/src/**/*.o
/standalone/src/**/*.obj
/standalone/src/**/*.so
/standalone/src/**/*.dll
/standalone/src/**/*.exp
/standalone/src/**/*.lib
/standalone/src/**/*.pdb

# Python stuff
__pycache__/
.ipynb_checkpoints/
*.pickle

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
build_all

# Ignore nix outputs
result
result-bin
result-man

# Ignore PKCS#11 logs
pkcs11-resources/logs/*
pkcs11-resources/log

standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/logs
standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/tmp_pkcs11.cfg
standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/wolfPKCS11
standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/SoftHSMv2/SoftHSMv2-BOTAN
standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/SoftHSMv2/SoftHSMv2-OPENSSL
!standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/wolfPKCS11/libwolfpkcs11.so
!standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/SoftHSMv2/SoftHSMv2-BOTAN/libsofthsm2.so
!standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/SoftHSMv2/SoftHSMv2-OPENSSL/libsofthsm2.so
!standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/SoftHSMv2/SoftHSMv2-BOTAN/softhsm2-botan.conf
!standalone/src/main/resources/cz/crcs/ectester/standalone/libs/pkcs11/SoftHSMv2/SoftHSMv2-OPENSSL/softhsm2-openssl.conf

# Ignore IDE stuff
.idea/