# Built artifacts in /dist and /applet.
/dist/lib/
/dist/ECTesterReader.jar
/dist/ECTesterReader-dist.jar
/dist/ectester-reader.sh
/dist/ectester-reader.bat
/dist/ECTesterStandalone.jar
/dist/ECTesterStandalone-dist.jar
/applet/ectester.cap

# Test runs in /dist
/dist/*.default
/dist/*.test-vectors
/dist/*.compression
/dist/*.cofactor
/dist/*.composite
/dist/*.wrong
/dist/*.invalid
/dist/*.twist
/dist/*.degenerate
/dist/*.xml

# Built binaries in /src.
/src/**/*.a
/src/**/*.o
/src/**/*.so
