# Built binaries in /src.
/standalone/src/**/*.a
/standalone/src/**/*.o
/standalone/src/**/*.obj
/standalone/src/**/*.so
/standalone/src/**/*.dll
/standalone/src/**/*.exp
/standalone/src/**/*.lib
/standalone/src/**/*.pdb

# Python stuff
__pycache__/
.ipynb_checkpoints/
*.pickle

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
build_all

# Ignore nix outputs
result
result-bin
result-man
