---
---

<h1>ECTester</h1> <a href="https://travis-ci.org/crocs-muni/ECTester"><img src="https://api.travis-ci.org/crocs-muni/ECTester.svg?branch=master" alt="Build status"></a>  <a href="https://github.com/crocs-muni/ECTester/releases"><img src="https://img.shields.io/github/release/crocs-muni/ECTEster.svg" alt="GitHub release"></a>  <a href="https://github.com/crocs-muni/ECTester/blob/master/LICENSE"><img src="https://img.shields.io/github/license/crocs-muni/ECTester.svg" alt="license"></a>

<p>Tests support and behavior of elliptic curve cryptography implementations on JavaCards (<code>TYPE_EC_FP</code> and <code>TYPE_EC_F2M</code>) and on selected software libraries. See our <a href="https://github.com/crocs-muni/ECTester">github</a> for more info. </p>

<h2>Results</h2>

<h3>Support table</h3>
See it <a href="support">here</a>.

<h3>Test suite runs</h3>
The results of various <a href="tests">test suites</a>, run on a set of cards are available below:

{% assign result_categories = site.results | group_by:"category" %}
{% assign cards = site.results | group_by_exp:"item", "item.path | split: '.' | reverse | shift | split: '/' | reverse | pop | pop " %}
<table style="margin-top: 1em">
    <tr>
        <th>Card name</th>
        {% for cat in result_categories %}
        <th>{{ cat.name }}</th>
        {% endfor %}
    </tr>
    {% for card in cards %}
    <tr>
        <td>{{ card.name.first | remove: '"' | remove: ']' }}</td>
        {% for cat in result_categories %}
        <td>
            {% for document in card.items %}
            {% if document.category == cat.name %}
            <a href="{{ site.baseurl }}{{ document.url }}">results</a>
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>


{% assign ecdh = site.performance | where:"category","ECDH performance" %}
{% if ecdh.size > 0 %}
<h3>ECDH performance</h3>
    <ul>
        {% for report in ecdh %}
        <li><a href="{{ report.url }}">{{ report.id | split: "/" | shift | shift | shift}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% assign ecdsa = site.performance | where:"category","ECDSA performance" %}
{% if ecdsa.size > 0 %}
    <h3>ECDSA performance</h3>
    <ul>
        {% for report in ecdsa %}
        <li><a href="{{ report.url }}">{{ report.id | split: "/" | shift | shift | shift}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% assign keygen = site.performance | where:"category","Key generation performance" %}
{% if keygen.size > 0 %}
    <h3>Key generation performance</h3>
    <ul>
        {% for report in keygen %}
        <li><a href="{{ report.url }}">{{ report.id | split: "/" | shift | shift | shift}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<h2>Docs</h2>

<ul>
    <li><a href="tests">Test suites</a> - Contains a list of implemented test suites and their descriptions.</li>
    <li><a href="curves">Curve categories</a> - Contains a list of known curve categories and their descriptions.</li>
</ul>