---
---

<h1>ECTester</h1> <a href="https://travis-ci.org/crocs-muni/ECTester"><img src="https://api.travis-ci.org/crocs-muni/ECTester.svg?branch=master" alt="Build status"></a>  <a href="https://github.com/crocs-muni/ECTester/releases"><img src="https://img.shields.io/github/release/crocs-muni/ECTEster.svg" alt="GitHub release"></a>  <a href="https://github.com/crocs-muni/ECTester/blob/master/LICENSE"><img src="https://img.shields.io/github/license/crocs-muni/ECTester.svg" alt="license"></a>

<p>Tests support and behavior of elliptic curve cryptography implementations on JavaCards (<code>TYPE_EC_FP</code> and <code>TYPE_EC_F2M</code>) and on selected software libraries. See our <a href="https://github.com/crocs-muni/ECTester">github</a> for more info. </p>

<a href="#support_table" class="btn body-btn">Support table</a> <a href="#implementation_guide" class="btn body-btn">Implementation guide</a> <a href="#test_runs" class="btn body-btn">Test runs</a> <a href="#docs" class="btn body-btn">Docs</a>

<h2 id="support_table">JavaCard Elliptic curve algorithm support<a href="#support_table">#</a></h2>
The <a href="https://docs.oracle.com/javacard/3.0.5/api/index.html">JavaCard API</a> has support for basic Elliptic Curve Cryptography, such as ECDH and ECDSA. However not many cards actually support these algorithms. The table below displays support and performance obtained by ECTester for common curve sizes. For detailed support and implementation tests see <a href="#test_runs">test runs</a>.

<style>
    .yes {
        background-color: rgba(0, 255, 0, 0.2);
    }

    .some {
        background-color: rgba(194, 194, 0, 0.2);
    }

    .no {
        background-color: rgba(255, 0, 0, 0.2);
    }
</style>


<h2>Legend</h2>
<div style="float:left">
    *ECDH types
    <ul>
        <li>1 - ALG_EC_SVDP_DH</li>
        <li>2 - ALG_EC_SVDP_DHC</li>
        <li>3 - ALG_EC_SVDP_DH_PLAIN</li>
        <li>4 - ALG_EC_SVDP_DHC_PLAIN</li>
        <li>5 - ALG_EC_PACE_GM</li>
        <li>6 - ALG_EC_SVDP_DH_PLAIN_XY</li>
    </ul>
</div>
<div style="float:left">
    *ECDSA types
    <ul>
        <li>a - ALG_ECDSA_SHA</li>
        <li>b - ALG_ECDSA_SHA_224</li>
        <li>c - ALG_ECDSA_SHA_256</li>
        <li>d - ALG_ECDSA_SHA_384</li>
        <li>e - ALG_ECDSA_SHA_512</li>
    </ul>
</div>
<div style="clear:both"></div>

<h2>$ \mathbb{F}_p $</h2>

<table style="text-align: center">
    <colgroup>
        <col span="1" style="width: 20%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
    </colgroup>
    <tr>
        <th></th>
        <th colspan="2">192b</th>
        <th colspan="2">256b</th>
        <th colspan="2">384b</th>
        <th colspan="2">521b</th>
    </tr>
    <tr>
        <th></th>
        <th>ECDH</th>
        <th>ECDSA</th>
        <th>ECDH</th>
        <th>ECDSA</th>
        <th>ECDH</th>
        <th>ECDSA</th>
        <th>ECDH</th>
        <th>ECDSA</th>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/Feitian_A22CR/">Feitian A22CR</a></td>
        <td class="some"></td>
        <td></td>
        <td class="some"></td>
        <td></td>
        <td class="some"></td>
        <td></td>
        <td class="some"></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/GD_Smartcafe_6.0/">GD SmartCafe 6.0</a></td>
        <td class="yes">1,2,3,4<br/>128ms</td>
        <td class="yes">a,b,c,d,e<br/>270ms</td>
        <td class="yes">1,2,4,3<br/>190ms</td>
        <td class="yes">a,b,c,d,e<br/>355ms</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/JCOP31_v2.4.1/">JCOP31 v2.4.1</a></td>
        <td class="yes">1,2<br/>122ms</td>
        <td class="yes">a<br/>257ms</td>
        <td class="yes">1,2<br/>189ms</td>
        <td class="yes">a<br/>392ms</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/NXP_JCOP_CJ2A081/">NXP JCOP CJ2A081</a></td>
        <td class="yes">1,2<br/>75ms</td>
        <td class="yes">a<br/>151ms</td>
        <td class="yes">1,2<br/>123ms</td>
        <td class="yes">a<br/>241ms</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/NXP_JCOP_v2.4.2_R3/">NXP JCOP v2.4.2 R3</a></td>
        <td class="yes">1,2<br/>99ms</td>
        <td class="yes">a,b,c<br/>180ms</td>
        <td class="yes">1,2<br/>150ms</td>
        <td class="yes">a,b,c<br/>275ms</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
        <td class="no">✘</td>
    </tr>
</table>

<h2>$ \mathbb{F}_{2^m} $</h2>
Support for binary field curves on cards is very weak, very little cards have any. For more information see <a href="https://www.fi.muni.cz/~xsvenda/jcalgtest/table.html">JCAlgTest</a> support table.
<!--
<h2>$ \mathbb{F}_{2^m} $</h2>

<table>
    <colgroup>
        <col span="1" style="width: 12%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
        <col span="1" style="width: 10%">
    </colgroup>
    <tr>
        <th></th>
        <th colspan="2">163b</th>
        <th colspan="2">233b</th>
        <th colspan="2">283b</th>
        <th colspan="2">409b</th>
    </tr>
    <tr>
        <th></th>
        <th>ECDH</th>
        <th>ECDSA</th>
        <th>ECDH</th>
        <th>ECDSA</th>
        <th>ECDH</th>
        <th>ECDSA</th>
        <th>ECDH</th>
        <th>ECDSA</th>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/Feitian_A22CR/">Feitian A22CR</a></td>
        <td class="some"></td>
        <td></td>
        <td class="some"></td>
        <td></td>
        <td class="some"></td>
        <td></td>
        <td class="some"></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/GD_Smartcafe_6.0/">GD SmartCafe 6.0</a></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/JCOP31_v2.4.1/">JCOP31 v2.4.1</a></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/NXP_JCOP_CJ2A081/">NXP JCOP CJ2A081</a></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/results/default/NXP_JCOP_v2.4.2_R3/">NXP JCOP v2.4.2 R3</a></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
        <td class="no"></td>
    </tr>
</table>
-->

<h2 id="implementation_guide">Implementation guide<a href="#implementation_guide">#</a></h2>
A basic example of EC KeyPair generation is visible below, for a more complete example see <a href="{{ site.baseurl}}/assets/ECExample.java">ECExample.java</a>.
<pre>
    <code class="java">
    // secp256r1 from http://www.secg.org/sec2-v2.pdf
    byte[] EC256_FP_P = new byte[]{
            (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x01,
            (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00,
            (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF,
            (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF};
    byte[] EC256_FP_A = new byte[]{
            (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x01,
            (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00,
            (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF,
            (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFC};
    byte[] EC256_FP_B = new byte[]{
            (byte) 0x5A, (byte) 0xC6, (byte) 0x35, (byte) 0xD8, (byte) 0xAA, (byte) 0x3A, (byte) 0x93, (byte) 0xE7,
            (byte) 0xB3, (byte) 0xEB, (byte) 0xBD, (byte) 0x55, (byte) 0x76, (byte) 0x98, (byte) 0x86, (byte) 0xBC,
            (byte) 0x65, (byte) 0x1D, (byte) 0x06, (byte) 0xB0, (byte) 0xCC, (byte) 0x53, (byte) 0xB0, (byte) 0xF6,
            (byte) 0x3B, (byte) 0xCE, (byte) 0x3C, (byte) 0x3E, (byte) 0x27, (byte) 0xD2, (byte) 0x60, (byte) 0x4B};
    byte[] EC256_FP_G = new byte[]{
            (byte) 0x04,
            (byte) 0x6B, (byte) 0x17, (byte) 0xD1, (byte) 0xF2, (byte) 0xE1, (byte) 0x2C, (byte) 0x42, (byte) 0x47,
            (byte) 0xF8, (byte) 0xBC, (byte) 0xE6, (byte) 0xE5, (byte) 0x63, (byte) 0xA4, (byte) 0x40, (byte) 0xF2,
            (byte) 0x77, (byte) 0x03, (byte) 0x7D, (byte) 0x81, (byte) 0x2D, (byte) 0xEB, (byte) 0x33, (byte) 0xA0,
            (byte) 0xF4, (byte) 0xA1, (byte) 0x39, (byte) 0x45, (byte) 0xD8, (byte) 0x98, (byte) 0xC2, (byte) 0x96,
            (byte) 0x4F, (byte) 0xE3, (byte) 0x42, (byte) 0xE2, (byte) 0xFE, (byte) 0x1A, (byte) 0x7F, (byte) 0x9B,
            (byte) 0x8E, (byte) 0xE7, (byte) 0xEB, (byte) 0x4A, (byte) 0x7C, (byte) 0x0F, (byte) 0x9E, (byte) 0x16,
            (byte) 0x2B, (byte) 0xCE, (byte) 0x33, (byte) 0x57, (byte) 0x6B, (byte) 0x31, (byte) 0x5E, (byte) 0xCE,
            (byte) 0xCB, (byte) 0xB6, (byte) 0x40, (byte) 0x68, (byte) 0x37, (byte) 0xBF, (byte) 0x51, (byte) 0xF5};
    byte[] EC256_FP_R = new byte[]{
            (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0x00, (byte) 0x00, (byte) 0x00, (byte) 0x00,
            (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF, (byte) 0xFF,
            (byte) 0xBC, (byte) 0xE6, (byte) 0xFA, (byte) 0xAD, (byte) 0xA7, (byte) 0x17, (byte) 0x9E, (byte) 0x84,
            (byte) 0xF3, (byte) 0xB9, (byte) 0xCA, (byte) 0xC2, (byte) 0xFC, (byte) 0x63, (byte) 0x25, (byte) 0x51};
    short EC256_FP_K = 1;

    // 1. Allocate the KeyPair object.
    // ! This should be done in the Applet constructor !
    KeyPair example = new KeyPair(KeyPair.ALG_EC_FP, (short) 256);

    // 2. If the key parts are not available, call genKeyPair.
    if (example.getPrivate() == null || example.getPublic() == null) {
        // Sometimes cards require this so we have the keyparts, to
        // set parameters on.
        try {
            example.genKeyPair();
        } catch (Exception ignored) {}
    }

    // 3. Get the key parts and set custom domain parameters on them.
    ECPrivateKey priv = (ECPrivateKey) example.getPrivate();
    ECPublicKey pub = (ECPublicKey) example.getPublic();

    priv.setFieldFP(EC256_FP_P, (short) 0, EC256_FP_P.length);
    pub.setFieldFP(EC256_FP_P, (short) 0, EC256_FP_P.length);

    priv.setA(EC256_FP_A, (short) 0, EC256_FP_A.length);
    pub.setA(EC256_FP_A, (short) 0, EC256_FP_A.length);

    priv.setB(EC256_FP_B, (short) 0, EC256_FP_B.length);
    pub.setB(EC256_FP_B, (short) 0, EC256_FP_B.length);

    priv.setG(EC256_FP_G, (short) 0, EC256_FP_G.length);
    pub.set(EC256_FP_G, (short) 0, EC256_FP_G.length);

    priv.setR(EC256_FP_R, (short) 0, EC256_FP_R.length);
    pub.setR(EC256_FP_R, (short) 0, EC256_FP_R.length);

    priv.setK(EC256_FP_K);
    pub.setK(EC256_FP_K);

    // 4. Generate the KeyPair over the custom set domain parameters.
    example.genKeyPair();
    // Now, the example keypair is ready for use.
    </code>
</pre>

<h2>Common JavaCard ECC usage pitfalls</h2>
The JavaCard ECC API is quite general in its requirements for implementations, which means different cards can behave
differently and cause errors.

<h3>No curve is set by default</h3>
KeyPairs allocated with <code class="java">new KeyPair(type, size)</code> might or might not have set some default domain parameters.
Which means using <code class="java">keypair.genKeyPair()</code> just after allocating a KeyPair object will probably result in an exception.
Thus, it is always better to explicitly setup custom domain parameters, using a known/standard curve, before trying to generate the KeyPair.

<h3>genKeyPair() required to get key parts</h3>
On some cards a newly allocated KeyPair does not yet contain the individual key parts (the <code>ECPublicKey</code> and <code>ECPrivateKey</code>).
Thus doing <code class="java">keypair.getPrivate()</code> or <code class="java">keypair.getPublic()</code> will return <code>null</code>. Which makes setting
custom domain parameters on the key parts harder. This can usually be fixed by calling <code>keypair.genKeyPair()</code>, which however might throw an exception,
and then setting the custom domain parameters on the now accessible key parts.

<h3>clearKey() behaviour</h3>
The <code>keypair.clearKey()</code> method might clear out the set domain parameters of the keypair as well as the key contents.

<h3>getK() behaviour</h3>
The <code>ECKey.getK()</code> method might throw an exception if the card does not support working with the cofactor value.

<h2 id="test_runs">Test suite runs<a href="#test_runs">#</a></h2>
The results of various <a href="tests">test suites</a>, run on a set of cards are available below:

{% assign result_categories = site.results | group_by:"category" %}
{% assign cards = site.results | group_by_exp:"item", "item.path | split: '/' | shift | shift | sample | split: '.' | pop | join: '.' " %}
<table style="margin-top: 1em">
    <tr>
        <th>Card name</th>
        {% for cat in result_categories %}
        <th>{{ cat.name }}</th>
        {% endfor %}
    </tr>
    {% for card in cards %}
    <tr>
        <td>{{ card.name | replace: '_', ' ' }}</td>
        {% for cat in result_categories %}
        <td>
            {% for document in card.items %}
		        {% if document.category == cat.name %}
	            <a href="{{ site.baseurl }}{{ document.url }}">results</a>
	            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>


{% assign ecdh = site.performance | where:"category","ECDH performance" %}
{% if ecdh.size > 0 %}
<h3>ECDH performance</h3>
    <ul>
        {% for report in ecdh %}
        <li><a href="{{ report.url }}">{{ report.id | split: "/" | shift | shift | shift}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% assign ecdsa = site.performance | where:"category","ECDSA performance" %}
{% if ecdsa.size > 0 %}
    <h3>ECDSA performance</h3>
    <ul>
        {% for report in ecdsa %}
        <li><a href="{{ report.url }}">{{ report.id | split: "/" | shift | shift | shift}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% assign keygen = site.performance | where:"category","Key generation performance" %}
{% if keygen.size > 0 %}
    <h3>Key generation performance</h3>
    <ul>
        {% for report in keygen %}
        <li><a href="{{ report.url }}">{{ report.id | split: "/" | shift | shift | shift}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<h2 id="docs">Docs<a href="#docs">#</a></h2>

<ul>
    <li><a href="tests">Test suites</a> - Contains a list of implemented test suites and their descriptions.</li>
    <li><a href="curves">Curve categories</a> - Contains a list of known curve categories and their descriptions.</li>
</ul>