---
layout: default
---

{% include suite_header.html suite="Test-vectors" %}

The test-vector suite tests against sets of known ECDH and ECDHC test vectors from various sources.

<ul>
<li><a href="http://read.pudn.com/downloads168/doc/772358/TestVectorsforSEC%201-gec2.pdf">SECG/GEC2</a></li>

<li><a href="http://csrc.nist.gov/groups/STM/cavp/component-testing.html#ECCCDH">NIST</a></li>

<li><a href="https://tools.ietf.org/html/rfc6932#appendix-A.1">Brainpool - RFC6931</a></li>

<li><a href="https://tools.ietf.org/html/rfc7027#appendix-A">Brainpool - RFC7027</a></li>
</ul>
<br/>

{% include result_header.html testRun=page.testRun %}

{% include result_table.html testRun=page.testRun %}

{% include result_footer.html %}